#product-list .product-info { 
      -webkit-transition: all .6s cubic-bezier(0.165,.84,.44,1);
      transition: all .6s cubic-bezier(0.165,.84,.44,1);
}


#product-list .product-info .pro-images {
        width: 100%;
        height: 100%;
}

#product-list .product-info .pro-info {
        height: 80px;
}

#product-list .product-info .pro-info .header a {
          display: inline-block;
          width: 100%;
          color: black;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
}

#product-list .product-info .pro-info .meta .market-price {
            text-decoration: line-through;
}
