#footer {
    background-color: #e4e4e4;
    margin: 30px auto 0;
    padding: 30px 10%;
}

#footer .social {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

#footer .copyright {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
